<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Your Applications</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Application Submission Date</th>
        <th>Status</th>
        <th>Poster</th>
      </tr>
    </thead>

    <tbody>
      <% @applications.each do |application| %>
        <tr>
          <td><%= application.post.title %></td>
          <td><%= application.created_at.strftime("%B %d, %Y") %></td>
          <td><%= application.status(current_user) %></td>
          <td><%= link_to application.post.poster_information.user.title, user_path(application.post.poster_information.user) %></td>
          <td><%= link_to 'View', application %></td>
          <td><%= (link_to 'Unapply', application, method: :delete, data: { confirm: 'Are you sure?' } ) if application.freelancer_information == current_user.freelancer_information %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

