<p id="notice"><%= notice %></p>

<p>
  <strong>Hourly:</strong>
  <%= @application.hourly %>
</p>

<p>
  <strong>Freelancer information:</strong>
  <%= @application.freelancer_information %>
</p>

<p>
  <strong>Post:</strong>
  <%= link_to @application.post.title, post_path(@application.post) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @application.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @application.amount %>
</p>

<p>
  <strong>Payment protection:</strong>
  <%= @application.payment_protection %>
</p>

<%= link_to 'Edit', edit_application_path(@application) if current_user.freelancer_information == @application.freelancer_information %> 
<%= link_to 'Award Project To This Applicant', application_award_path(application_id: @application.id) if current_user.poster_information == @application.post.poster_information && @application.post.awarded_to_id == nil %> |
<%= link_to 'Back', applications_path %>
