<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Jobs Awarded</h3>
		  </div>
		  <div class="panel-body">
		    
		  </div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Total Earnings</h3>
		  </div>
		  <div class="panel-body">
		    Panel content
		  </div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Current Balance</h3>
		  </div>
		  <div class="panel-body">
		    Panel content
		  </div>
		</div>
	</div>

	<div class="col-md-9">
		<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">
		  <h3 class="panel-title">Jobs</h3>
		</div>

	  <!-- Table -->
		  <table class="table table-stripped">
		    <thead>
		      <tr>
		        <th>Title</th>
		        <th>Awarded on</th>
		        <th>Employer</th>
		        <th>Action Required</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<% Post.where(awarded_to_id: current_user.id).each do |post| %>
			    	<%= link_to post_path(post.id) do %>
				      <tr>
				        <td><%= post.title %></td>
				        <td><%= "posted awarded on..." %></td>
				        <td><%= link_to post.poster_information.title, user_path(post.poster_information.user) %></td>
				        <% if post.action_required?(current_user) == "None" %>
				        	<td>None</td>
				        	<% elsif post.action_required?(current_user) == "Sign contract"  %>
				        	<td><%= link_to post.action_required?(current_user), contract_action_path(post_id: post.id) %></td>
				        	<% else %>
				        		<td><%= link_to post.action_required?(current_user), new_contract_path(post_id: post.id, freelancer_information_id: current_user.freelancer_information.id) %></td>
				        <% end %>
				      </tr>
		    		<% end %>
		    	<% end %>
		    </tbody>
		  </table>
		</div>
	</div>




	<div class="col-md-9">
		<div class="panel panel-default">
	  <!-- Default panel contents -->
		  <div class="panel-heading">
			  <h3 class="panel-title">Your Applications</h3>
			</div>
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Title</th>
		        <th>Application Date</th>
		        <th>Status</th>
		        <th>Poster</th>
		      </tr>
		    </thead>

		    <tbody>
		      <% current_user.applications.each do |application| %>
		        <tr>
		          <td><%= application.post.title %></td>
		          <td><%= application.created_at.strftime("%B %d, %Y") %></td>
		          <td><%= application.status_freelancer(current_user) %></td>
		          <td><%= link_to application.post.poster_information.user.title, user_path(application.post.poster_information.user) %></td>
		          <td><%= link_to 'Show', application %></td>
		          <td><%= link_to 'Unapply', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		        </tr>
		      <% end %>
		    </tbody>
		  </table>
		</div>
	</div>

</div>
