<hr class="">
<div class="container target">
  <div class="row">
    <div class="col-sm-10">
      <h1 class=""><%= @user.title %></h1>
      <button type="button" class="btn btn-success">Send application request</button>  <button type="button" class="btn btn-info">Send message</button>
      <br>
    </div>
    <div class="col-sm-2">
      <% if current_user.information.attachment %>
        <a href="/users" class="pull-right">
          <img title="profile image" class="img-circle img-responsive" src="<%= current_user.information.attachment %>">
        </a>
      <% end %>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <!--left col-->
        <ul class="list-group">
          <li class="list-group-item text-muted" contenteditable="false">Profile</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span> <%= @user.created_at.strftime("%B %d, %Y") %></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> <%= @user.last_active_at.strftime("%B %d, %Y") %></li>
          <% if @user.information.email %>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Email: </strong></span> <%= @user.information.email %></li>
          <% end %>
          <% if @user.information.website %>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Website: </strong></span> <%= @user.information.website %></li>
          <% end %>
        </ul>
        
        <ul class="list-group">
          <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
          <% if @user.freelancer %>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Jobs Awarded</strong></span><%= @user.number_of_job_awards_recieved %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Total Earned</strong></span><%= @user.total_earning %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Average Earning Per Job</strong></span><%= @user.averge_earning_per_job %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Rating</strong></span><%= @user.rating("freelancer") %></li>
          <% else %>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Jobs Posted</strong></span><%= @user.number_of_jobs_posted %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Jobs Awarded</strong></span><%= @user.number_of_posted_jobs_awarded %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Average Paid Per Job</strong></span><%= @user.average_paid_per_job %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Rating</strong></span><%= @user.rating("freelancer") %></li>
          <% end %>
        </ul>
<!--         <div class="panel panel-default">
          <div class="panel-heading">Social Media</div>
          <div class="panel-body">  
            <div class="row-fluid">
              <div class="span3">
                <p> 
                  <a href="http://twitter.com/Bootply" rel="nofollow" title="Bootply on Twitter" target="ext">Twitter</a><br>
                  <a href="https://plus.google.com/+Bootply" rel="publisher">Google+</a><br>
                  <a href="http://facebook.com/Bootply" rel="nofollow" title="Bootply on Facebook" target="ext">Facebook</a><br>
                  <a href="https://github.com/iatek/bootply" title="Bootply on GitHub" target="ext">GitHub</a><br>
                </p>
              </div>
            </div>
          </div>
        </div>
 -->      </div>
      <!--/col-3-->
      <div class="col-sm-9" contenteditable="false" style="">
        <div class="panel panel-default">
          <div class="panel-heading"><%= @user.title%>'s Bio</div>
          <% if @user.information.description %>
            <div class="panel-body"> <%= @user.information.description %></div>
          <% else %>
            <div class="panel-body"> None entered yet. </div>
          <% end %>
        </div>
        <div class="panel panel-default target">
          <div class="panel-heading" contenteditable="false">Skills</div>
          <div class="panel-body">
            <div class="row">
              <% if @user.freelancer %>
                <% @user.skills.each do |skill|%>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <div class="caption">
                        <h3><%= skill.title %></h3>
                        <p>Years Experience: <%= skill.years %></p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="push"></div>
</div>


      